<div class="site-header">

    <h1> Local Boundaries</h1>
</div>
<div id="map"></div>

<div class="download-container">
    <ul>
        <li>
            <a href="" class="buttonDownload">TopoJSON </a>
            <ul>
                <li>
                    <a href="./css/province.topojson" download>Provinces</a>
                </li>
                <li><a href="./css/district.topojson" download>Districts</a></li>
                <li><a href="./css/municipality.topojson" download>Local Levels</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="buttonDownload" download>GeoJSON </a>
            <ul>
                <li>
                    <a href="./js/province.geojson" download>Provinces</a>
                </li>
                <li><a href="./js/district.geojson" download>Districts</a></li>
                <li><a href="./js/municipality.geojson">Local
                        Levels</a></li>
            </ul>
        </li>
    </ul>
</div>