<div class="site-header">

    <h1> local boundaries</h1>
</div>
<div id="map"></div>

<div class="download-container">
    <ul>
        <li>
            <a href="" class="buttonDownload">TopoJson </a>
            <ul>
                <li>
                    <a href="css/province.topojson" download>Province</a>
                </li>
                <li><a href="css/District.topojson">District</a></li>
                <li><a href="css/municipality.topojson">Municipalities</a></li>
            </ul>
        </li>
        <li>
            <a href="#"  class="buttonDownload" >GeoJson </a>
            <ul>
                <li>
                    <a href="js/province.geojson" download>Province</a>
                </li>
                <li><a href="js/district.geojson">District</a></li>
                <li><a href="js/municipalities.geojson">Municipalities</a></li>
            </ul>
        </li>
        <a href="https://raw.githubusercontent.com/okfnepal/localboundaries/gh-pages/css/municipality.topojson"
           class="buttonDownload">Demo </a>
    </ul>
</div>
